@model IEnumerable<FastFoodSystem.Models.Cliente>

@{
    ViewBag.Title = "Home Page";
}

<div class="row justify-content-md-center">
    <p>
        <div class="col-md-4">
            <input class="btn btn-primary btn-lg" type="button" value="Gerencia Clientes" onclick="viewIframe()" />
        </div>
        <div class="col-md-4">
            <input class="btn btn-primary btn-lg" type="button" value="Gerencia Refeições" onclick="viewIframe2();" />
        </div>
    </p>
</div>
<br />
<div class="jumbotron">
    <h1>Sistema de Gerenciamento de FastFoods</h1>
    <p class="lead">Sistema em versão MVP  v.0.0.1....</p>
</div>
<div>
    <iframe id="iframe" src="~/Cliente/Index" width="1000" height="500" style="border: none; display:none;"></iframe>
    <iframe id="iframe2" src="~/Refeicao/Index" width="1000" height="500" style="border: none; display: none;"></iframe>
</div>


