@{
    ViewBag.Title = "Administrativo";
}

<div class="jumbotron">
    <h1>Pagina Administrativa</h1>
    <p class="lead">Cadastro de Clientes, Refeições, etc....</p>
    <p><a href="~/Views/Cliente/Index.cshtml" class="btn btn-primary btn-lg">Clientes</a></p>
</div>